<table class="table">
  <thead>
    <tr>
      <th><%= current_user.scores.count %> challenges</th>
      <th>✅</th>
      <th>❌</th>
      <th>⌛️</th>
    </tr>
  </thead>
  <tbody>
    <% current_user.last_scores.each do |score| %>
      <tr>
        <td><%= score.challenge.try(:title) %></td>
        <td><%= score.right %></td>
        <td><%= score.wrong %></td>
        <td><%= score.timed_out %></td>
      </tr>
    <% end %>
  </tbody>
</table>
