<h1 id="status"><%= CodeRay.scan("game.start! # => true", :ruby).div.html_safe %></h1>
<% @challenge.items.each_with_index do |(challenge, result),i|  %>
  <div class="challenge" sequence="<%= i %>" result='<%= result %>' <%= "style=display:none" if i > 0 %>>
    <pre class="language-ruby" <%= 'style="text-align: center"'.html_safe if challenge.lines.size == 1 %><%= CodeRay.scan(challenge, :ruby).div.html_safe %></pre>
  </div>
<% end %>
<div class="buttons">
  <button id='btn-true' value='true'>True</button>
  <button id='btn-false' value='false'>False</button>
</div>
<div class="answers"></div>
