<div class="topbar">
  <span id="answer-number"></span>
  <div class="answers"></div>
  <div class="avatar">
    <div class="thumb">
      <%= image_tag session[:user_data]["avatar_url"], width: "50", height: "50", class: 'rounded-avatar',title: session[:user_data]["name"] %>
    </div>
    <div class="caption">@<%= session[:user_data]["login"] %></div>
  </div>
  <span id="status"><%= CodeRay.scan("game.ready # => true", :ruby).div.html_safe %></span>
  <span id="timeout"></span>
</div>

<% @challenge.items.each_with_index do |(challenge, result),i|  %>
  <div class="challenge" sequence="<%= i %>" result='<%= result %>' <%= "style=display:none" if i > 0 %>>
    <pre class="language-<%= @challenge.language %>" <%= 'style="text-align: center"'.html_safe if challenge.lines.size == 1 %><%= CodeRay.scan(challenge, @challenge.language).div.html_safe %></pre>
  </div>
<% end %>
<div class="buttons">
  <button id='btn-true' value='true'>True</button>
  <button id='btn-false' value='false'>False</button>
</div>
